<header class="main-header">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1><a href="/">Ham Radio Formulas</a></h1>
            </div>
        </div>
    </div>
</header>

<nav class="main-nav">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/antenna-dipole-calculator" routerLinkActive="active">
                            Dipole Antenna
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/peak-envelope-power" routerLinkActive="active">
                            Peak Envelope Power
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col">
            <router-outlet />
        </div>
    </div>
</div>