<div class="container">
    <div class="row">
        <div class="col">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        Formula Selection
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-expanded="false">Antennas</a>
                    <ul class="dropdown-menu">
                        <li>
                        <a class="dropdown-item" href="/antenna-half-wavelength">
                            Antenna Half Wavelength
                        </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/antenna-quarter-wavelength">
                                Antenna Quarter Wavelength
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <router-outlet />
        </div>
    </div>
</div>